body {
    font-family: arial, sans-serif;
    background-color: #fff;
    margin: 5px;
}

/* Colorful Headings */
#hblue {
    font-family: "arial black", arial;
    color: #4876bb;
    font-size: 50px;
}

#hred {
    font-family: "arial black", arial;
    color: #cf5276;
    font-size: 50px;
}

#hgreen {
    font-family: "arial black", arial;
    color: #36914a;
    font-size: 50px;
}

/* Intro */
#prettyPurple {
    font-family: 'Satisfy', arial;
    font-size: 60px;
    color: #ae75b2;
}

#prettyRed {
    font-family: 'Satisfy', arial;
    font-size: 60px;
    color: #cf5276;
}

#bigSize {
    padding-top: 20%;
    font-size: 70px;
    font-family: "arial black", arial;
}

#header {
    overflow: hidden;
    background-color: #684C63;
    padding: 20px 10px;
    height: auto;
}

/* Navigation */
#nav {
    overflow: hidden;
}

#nav a {
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
}

nav a:first-child {
    border-left: 0 none;
}

#nav ul {
    list-style: none;
    color: #000;
    padding: 20px 0 20px 0;
    display: flex;
}

#nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0 25px 0 25px;
    font-size: 15px;
}

#nav > ul > li > a:hover {
    color: #5e65ae;
    background-color: #e07095;
    transition: all 0.5s ease;
    border-radius: 15px 20px 30px 0;
}

/* Logo */
#logo {
    width: 500px;
    height: auto;
}

/* Image of Me */
#me-image img {
    border-radius: 50%;
    border: 10px solid #e07095;
    width: 400px;
    height: 500px;
    margin: 10px 10px 80px 10px;
}

/* Resume Button */
#resume-button {
    background-color: #36914a;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Darker background on mouse-over */
#resume-button:hover {
    background-color: #87a53d;
}


/* Content */
#container {
    padding-top: 10%;
    clear: both;
      width: 100%;
      margin: 0 auto;
}

#content {
    margin: 30px auto;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    background-color: #FFF8DC;
}

/* Projects */
.box1 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #38914c;
    color: #fff;
}

.box2 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #5e65ae;
    color: #fff;
}

.box3 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #46c1be;
    color: #fff;
}

.box4 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #e79a38;
    color: #fff;
}

.box5 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #e07095;
    color: #fff;
}

.box6 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #decb22;
    color: #fff;
}

/* Social Media Icons */
#contact {
    font-size: 20px;
    letter-spacing: 5px;
    display: inline-block;
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #3ea8a3;
    color: white;
}

.fa-linkedin {
    background: #87a53d;
    color: white;
}

.fa-github {
    background: #36914a;
    color: white;
}

.fa-instagram {
    background: #ae75b2;
    color: white;
}

.fa-envelope {
    background: #cf5276;
    color: white;
}


/* CODE Portfolio Grid */

a {
    text-decoration: none;
}

.textOverImage {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    margin: 4px;
    background-size: 100%;
    background-position: center;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
}

.textOverImage:hover {
    background-size: 110%;
}

.textOverImage:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    /*use transform:translateY(100%); to remove footer*/
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0 8px;
    content: attr(data-title);
    transition: 0.5s 0.1s;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.textOverImage:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 8px;
    content: attr(data-text);
    transition: 0.5s;
    padding-top: 2em;
    margin-top: 8px;
    transform: translateY(100%);
    opacity: 0;
}

.textOverImage:hover:after {
    transform: translateY(0);
    transition: 0.5s 0.1s;
    opacity: 1;
}

.textOverImage:hover:before {
    transform: translateY(0);
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}



/* ART Portfolio Grid */
.portfolio-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.portfolio-grid li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    width: 212px;
}

.portfolio-grid li>a,
.portfolio-grid li>a img {
    width: 100%;
    border: none;
    outline: none;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-grid li>a img:hover {
    border-radius: 50%;
    z-index: 9999;
}

/* footer */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #684C63;
    border-top: 8px solid #3ea8a3;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .textOverImage {
        background-size: cover !important;
    }
}