body {
    font-family: arial, sans-serif;
    background-color: #fff;
    margin: 5%;
}

/* Colorful Headings */
#hblue {
    font-family: "arial black", arial;
    color: #4876bb;
    font-size: 50px;
}

#hred {
    font-family: "arial black", arial;
    color: #cf5276;
    font-size: 50px;
}

#hgreen {
    font-family: "arial black", arial;
    color: #36914a;
    font-size: 50px;
}

/* Intro */
#prettyPurple {
    font-family: 'Satisfy', arial;
    font-size: 60px;
    color: #ae75b2;
}

#prettyRed {
    font-family: 'Satisfy', arial;
    font-size: 60px;
    color: #cf5276;
}

#bigSize {
    padding-top: 20%;
    font-size: 60px;
    font-family: "arial black", arial;
}

/* Navigation */
#nav a {
    text-decoration: none;
    float: none;
    width: 100%;
}
#nav ul {
    list-style: none;
    color: #000;
    padding: 20px 0 20px 0;
}

#nav > ul > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 15px;
}

#nav > ul > li > a:hover {
    color: #5e65ae;
    background-color: #e07095;
    transition: all 0.5s ease;
    border-radius: 15px 20px 30px 0;
}

/* Logo */
#logo {
    padding-bottom: 70px;
    width: 300px;
    height: 300px;
}

/* Image of Me */
#me-image img {
    border-radius: 50%;
    border: 10px solid #e07095;
    width: 100%;
    height: auto;
    margin: 30px;
    float: left; 
}


/* Content */
#container {
    padding-top: 20%;
}

#content {
    margin: 30px auto;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    background-color: #FFF8DC;
}

/* Projects */
.box1 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #38914c;
    color: #fff;
}

.box2 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #5e65ae;
    color: #fff;
}

.box3 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #46c1be;
    color: #fff;
}

.box4 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #e79a38;
    color: #fff;
}

.box5 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #e07095;
    color: #fff;
}

.box6 {
    margin: 150px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    background-color: #decb22;
    color: #fff;
}

/* Social Media Icons */
#contact {
    padding-bottom: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    display: inline-block;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #3ea8a3;
    color: white;
}

.fa-linkedin {
    background: #87a53d;
    color: white;
}

.fa-github {
    background: #36914a;
    color: white;
}

.fa-instagram {
    background: #ae75b2;
    color: white;
}

.fa-envelope {
    background: #cf5276;
    color: white;
}

/* Footer */

#footer p {
    float: left;
}

#footer a {
    float: right;
}


/* Media Queries */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 900px) {

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1800px) {

}

 
